@model List<Service>

<!-- Start Recent Work -->
@foreach (Service service in Model)
{
    <div class="col-xl-3 col-md-4 col-sm-6  project @service.Category.Name.ToLower()">
        <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="service card-img" src="~/assets/img/@service.Images.Where(i=>i.IsMain==true).FirstOrDefault().Path" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                <div class="service-work-content text-left text-light">
                    <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">@service.Name</span>
                    <p class="card-text">@service.Description</p>
                </div>
            </div>
            <div class="card-footer">
                <a asp-controller="Basket" class="btn btn-outline-primary rounded-pill" asp-action="AddBasket" asp-route-id="@service.Id">Add Basket</a>
            </div>
        </a>
    </div>
}
<!-- End Recent Work -->