@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @foreach (var item in Model.Students)
    {
        <p>@item.Name</p>
    }
</div>
